html {
    width: 100vw;
    font-family: sans-serif;
}

body {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(113,147,193);/*色は任意*/
}

/*吹き出し*/
.balloon_l {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}

.balloon_r {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.balloon_l .says {
    max-width:calc(80% - 50px); /*最大幅は任意*/
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: white;/*色は任意*/
    line-height:1.5;
    font-size: smaller;
    display: inline-block;
}

.balloon_r .says {
    max-width:calc(80% - 50px); /*最大幅は任意*/
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #85e249;/*色は任意*/
    line-height:1.5;
    font-size: smaller;
    display: inline-block;
}

.says p{
    display: inline;
    margin:8px 0 0 !important;
}

.says p:first-child{
    margin-top:0 !important;
}

.says:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    top: 13px;
}

.balloon_l .says:after {
    left: -26px;
    border-right: 22px solid white;
}

.balloon_r .says:after {
    right: -26px;
    border-left: 22px solid #85e249;
}

.balloon_l-before {
    display: inline-block;
    width: 50px; /*任意のサイズ*/
    height: 50px;
    margin-right: 25px;
    content: '';
    text-align: center;
    border-radius: 25px;
}

.balloon_l-before > div,
.balloon_r-after > div {
    color: white;
    font-size: 1.25rem;
    text-shadow: 0 0 2px black;
    display: inline-block;
    line-height: 50px;
}

.balloon_r-after {
    display: inline-block;
    width: 50px; /*任意のサイズ*/
    height: 50px;
    margin-left: 25px;
    content: '';
    text-align: center;
    vertical-align: top;
    border-radius: 25px;
}

div.prop {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: xx-small;
    align-self: flex-end; /*縦位置を下揃え*/
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 1rem;
}

div.title {
    text-align: center;
    color: white;
    vertical-align: bottom;
}

div.date {
    text-align: center;
    color: lightgray;
    vertical-align: bottom;
    font-size: xx-small;
}

div.date:before,
div.date:after {
    content: ' ─── ';
}
