.hidden {
  display: none;
}
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 2px #0910037e;
  border-radius: 5px;
  background: #86e249bb;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
 button:hover {
  background: #85e249;
}
 button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}